
html {
  color: rgb(224, 208, 208);

  font-size: 3em;
  line-height: 1.5;
}

body{
  background-color: #222;
  margin: 80;
  width: 100vw;
  height: 100vh;
font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
}

p{
  text-align: center;
  font-size: 25px;

}

a{
  color: #ccc;
  text-align: left;
}

a:hover {
  color: #b3d4fc;
  cursor: pointer;
}

.containers{
  display: grid;
  grid-template-columns: repeat(9,4fr);
  margin: none;
  
}


.container{
  line-height: 1.9;
  padding-top: 2%;
  padding-bottom: 4%;
  padding-right: 15%;
  padding-left: 15%;
  display: grid;
  grid-template-columns: repeat(6,1fr) ;
  
}

div.a {
  font-size: 30px;
}

.icon{
  display: none;
}

.icon.visible{
  display: block;
}


#container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.alphabet{
  margin: 20px;
  
}

.id{
  font-size: 300px;
}

.sound{
  font-size: 350px;
}


.phrase{
  font-weight: bold;
}

a{
  text-decoration: none;
}



.container{
  /* display:grid; */
  text-align: center;
}

/* .A{ */
  /* A */
/* text-decoration: none;
position: absolute;
width: 134px;
height: 135px;
left: 306px;
top: 169px; */



/* 
font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;

/* border: 1px solid #000000; */
/* text-shadow: 0px 4px 4px rgba(221, 212, 212, 0.25);
} */ 



.F{
  /* F */

position: absolute;
width: 133px;
height: 135px;
left: 1001px;
top: 169px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;


}


.E{
  /* E */

position: absolute;
width: 133px;
height: 135px;
left: 863px;
top: 169px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;

}


.C{
  /* C */

position: absolute;
width: 133px;
height: 135px;
left: 583px;
top: 169px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;


}



.D{
  /* D */

position: absolute;
width: 137px;
height: 135px;
left: 721px;
top: 169px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;

}



.B{
  /* B */

position: absolute;
width: 133px;
height: 135px;
left: 445px;
top: 169px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;


}

.G{
/* G */

position: absolute;
width: 133px;
height: 136px;
left: 306px;
top: 306px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;

}



.L{
/* L */

position: absolute;
width: 133px;
height: 136px;
left: 1000px;
top: 306px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;
}


.K{
/* K */

position: absolute;
width: 133px;
height: 136px;
left: 862px;
top: 306px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;
color: #e3dede;

}



.I{
/* I */

position: absolute;
width: 133px;
height: 136px;
left: 582px;
top: 306px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;
}



.J{
/* J */

position: absolute;
width: 137px;
height: 136px;
left: 720px;
top: 306px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;



}

.H{
/* H */

position: absolute;
width: 133px;
height: 136px;
left: 444px;
top: 306px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;
}


.M{
  /* M */

position: absolute;
width: 133px;
height: 135px;
left: 306px;
top: 444px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;




}

.R{
/* R */

position: absolute;
width: 133px;
height: 135px;
left: 1001px;
top: 444px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;
}


.Q{

/* Q */

position: absolute;
width: 133px;
height: 135px;
left: 863px;
top: 444px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;

}



.O{
/* O */

position: absolute;
width: 133px;
height: 135px;
left: 582px;
top: 444px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;
}



.P{
/* P */

position: absolute;
width: 138px;
height: 135px;
left: 720px;
top: 444px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;


}


.N{
/* N */

position: absolute;
width: 133px;
height: 135px;
left: 444px;
top: 444px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;
}


.S{
/* S */

position: absolute;
width: 133px;
height: 136px;
left: 306px;
top: 581px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;
}




.X{
/* X */

position: absolute;
width: 133px;
height: 136px;
left: 1000px;
top: 581px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;
}


.W{
/* W */

position: absolute;
width: 133px;
height: 136px;
left: 862px;
top: 581px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;
}



.Z{
/* Z */

position: absolute;
width: 133px;
height: 135px;
left: 444px;
top: 719px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;


}

.Y{
/* Y */

position: absolute;
width: 133px;
height: 135px;
left: 306px;
top: 719px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;
}




.U{
/* U */

position: absolute;
width: 133px;
height: 136px;
left: 582px;
top: 581px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;


}


.V{
/* V */

position: absolute;
width: 137px;
height: 136px;
left: 720px;
top: 581px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;

}



.T{
/* T */

position: absolute;
width: 133px;
height: 136px;
left: 444px;
top: 581px;

font-family: "cy", sans-serif;
font-weight: 600;
font-style: normal;
font-size: xx-large;
text-align: center;

color: #e3dede;
}







/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

/* .hidden,
[hidden] {
  display: none !important;
} */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
    cursor: pointer;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* .detail{
  display: none;
} */
.active .detail{
  display: block;
}