/* Reset and general styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: #e3dede;
    width: 95vw;
    height: 95vh;
    font-family: "cy", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    margin: 30px;
}

body {
    background-color: #222;
    margin: 0;
    width: 95vw;
    height: 95vh;
    font-family: "cy", sans-serif;
    font-weight: 600;
    font-size: 90px;
    text-align: center;
    color: #e3dede;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 30px 0;
}

h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px; 
}

h3 {
    font-size: 25px;
    text-align: center;
    display: inline-block;
    margin: 10px 5px; 
}

a {
    font-size: 25px;
    text-align: center;
    margin: 5px 5px;
    line-height: normal;
    text-decoration: none;
}

a:link {
    color: #b3d4fc;
}

a:visited {
    color: #e3dede;
}

a:hover {
    color: #b3d4fc;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
    gap: 10px; /* Gap between grid items */
    padding: 100px; /* Padding around the grid */
    max-width: 1200px; /* Maximum width of the grid */
    margin: 20px auto; /* Centering the grid */
}

.grid-item {
    color: #b3d4fc;
    cursor: pointer;
    padding: 50px; /* Padding inside each grid item */
    text-align: center; /* Center text */
    border: 1px solid gray; /* Example border */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    position: relative; /* For positioning the phrase */
}

.grid-item:hover {
    background-color: gray; /* Change background color on hover */
}

.phrase {
    position: absolute;
    right: 100%; /* Position to the right of the grid item */
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap; /* Prevents wrapping */
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    display: none; /* Hide by default */
    color: #e3dede;
    font-size: large;
}

.grid-item.show-phrase .phrase {
    display: block; /* Show on click */
}

.intro {
    color: #e3dede;
    line-height: 1.6;
    text-align: left; /* Align text to the left */
    padding: 0 20px; /* Optional padding for better text placement */
}
